body {
    background-color: #ededed;
}

.my-container{
    /* margin-top: 2%; */
    width: 80%;
    margin: 3% auto;
    display: block;
}

.alert{
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}


.info-alert{
    background-color: #dddada73;
}
.danger-alert{
    background-color: #e29292;
}
.warning-alert{
    background-color: #ffe292;
}
/* 
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.card{
    background-color: red;
    background-color: #cfcfcf;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0.2rem;
    padding: 0.2rem;

} */