body {
    background-color: #ededed;
}

.my-container{
    width: 80%;
    margin: 3% auto;
    display: block;
}

.alert{
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.info-alert{
    background-color: #dddada73;
}
.danger-alert{
    background-color: #e29292;
}
.warning-alert{
    background-color: #ffe292;
}
