<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="../static/css/main.css" rel="stylesheet" type="text/css" />
    <title>Flights</title>
</head>
<body>
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large teal lighten-2 tooltipped" data-position="left" data-tooltip="Download data" href="/getDataJSON">
          <i class="large material-icons">get_app</i>
        </a>
    </div>
    <div class="my-container">
            <div id="bag-selector" class="row">  
                <div class="col s12 m2 center-align">
                    Select number of bags
                </div>         
                <div class="col s12 m10">
                    {% for bags in number_of_bags %}
                        <!-- <button class="waves-effect waves-light btn blue lighten-2" id="btn-{{ bags }}">{{ bags }} bag(s)</button> -->
                        <label class="col s6 m3">
                            <input name="group1" id="btn-{{ bags }}" type="radio" />
                            <span>{{ bags }} bags</span>
                        </label>
                    {% endfor %}
                </div>         
                </div>
        <div class="alert warning-alert" id="select-bags-alert">
            Select number of bags
        </div>
        <div id="trips-display">
            {% for bags in number_of_bags %}
                <div class="tripsPerBag" style="display: none" id="trips-{{ bags }}" >
                    {% if not trips[bags] %}
                    <div class="alert danger-alert">
                        No trips available for passengers with {{ bags }} bags
                    </div>
                    {% else %}
                        <div class="center-align col s12 alert info-alert">
                            <h5> Trips available for passengers with <span style="color: #26a69a">{{ bags }}</span> bags</h5>
                        </div>
                        <div class="row">
                            {% for trip in trips[bags] %}
                            <div class="col s12 m6 l4">
                                <div class="card card blue-grey lighten-5">
                                    <div class="card-content black-text">
                                        <div class="row valign-wrapper">
                                            <div class="col s3 center-align">
                                                <h6>{{ trip.source }}</h6>
                                                <i class="material-icons">flight_takeoff</i>
                                            </div>
                                            <div class="col s6 center-align">
                                                <hr>
                                            </div>
                                            <div class="col s3 center-align">
                                                <h6>{{ trip.destination }}</h6>
                                                <i class="material-icons">flight_land</i>
                                            </div>
                                        </div>
                                        <div class="row center-align">
                                            <div class="col s6">
                                            {{ trip.number_of_transfers }} transfers
                                            </div>
                                            <div class="col s6">                                        
                                            {{ (trip.flight_time + trip.transfer_time)|round|int }} minutes
                                            </div>
                                        </div>
                                        <span class="card-title activator grey-text text-darken-4">{{ trip.total_price }}€<i class="material-icons right tooltipped" data-position="left" data-tooltip="details">more_vert</i></span>
                                    </div>
                                    <div class="card-reveal">
                                        <span class="card-title grey-text text-darken-4">Details<i class="material-icons right">close</i></span>
                                        <table class="highlight centered">
                                            <tbody>
                                                <thead>
                                                    <tr>
                                                        <th>From</th>
                                                        <th>To</th>
                                                        <th>Price</th>
                                                        
                                                    </tr>
                                                </thead>
                                                {% for flight in trip.flights %}
                                                    <tr>
                                                        <td>{{ flight.source }} <br>{{ flight.departure }}</td>
                                                        <td>{{ flight.destination }} <br>{{ flight.arrival }}</td>
                                                        <td>{{ (flight.price + flight.bag_price*bags)|round|int}} €</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>       
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="../static/js/main.js"></script>
</body>
</html>